 <footer class="footer bg-dark">
    <p>WebServer creado por Ricardo Pineda &copy; {{ getYear }} </p>
  </footer>

  <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>